
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --font-text-color: #FFFFFF;  
    --button-color:  #2196F3;
    --primary-white-color: #ffffff;
    --secondary-bgr-color: #F5F4FA;
    --link-bgr-color:  rgba(47, 48, 58, 0.8);
    --footer-bgr-color: #2F303A;  
  }
  body{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
  }
  
  /* Logo */
  .logo {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 1.14;
    text-decoration: none;
  }
  .blue{color: var(--button-color)};
  
  .logo:hover,
  .logo:focus {
    color: var(--button-color);
  }

  .main-nav .link{
    font-weight: 500;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .contact-nav .link{
    font-weight: 500;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
.link:hover,
.link:focus{
    color: var(--button-color)
}
.list{
    list-style: none;
    }
.list-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color);
}

.background-text{
    font-weight: normal;
    font-size: 18px;
    line-height: 1,56;    
    color: var(--font-text-color);
}
.sub{
font-weight: 400;
font-size: 16px;
line-height: 1,87;
}

/* Hero */

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1,36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--font-text-color);
}
/* Section */

.section-title{
font-weight: 700;
font-size: 36px;
text-align: center;
color: var(--title-text-color);
}

/* Features */

.features .title {
font-weight: 700;
line-height: 1,14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}

/* Work list */
.work a{
color: var(--font-text-color);
font-weight: 700;
line-height: 1,14;
text-align: center;
text-transform: uppercase;
}

/* Team */

.section-team{
    background-color: var(--secondary-bgr-color);
}

.team .title{
font-weight: 500;
font-size: 16px;
line-height: 1,19;
color: var(--title-text-color)
}

.button{
color: var(--font-text-color);
background-color: var(--button-color);
}
.button:hover,
.button:focus{
    color: var(--primary-white-color);
}

.button-secondary{
font-weight: 500;
font-size: 16px;
line-height: 1,63;
text-align: center;
color: var(--title-text-color);
background-color: var(--secondary-bgr-color);
}
.button-secondary:hover,
.button-secondary:focus{
    color: var(--button-color);
}

/* Footer */
.page-footer{
    background-color: var(--footer-bgr-color);
}
.logo-footer{
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 1.18;
    text-decoration: none;

}
.logo-text{
    color: var(--font-text-color);
}

.copyright{
background-color: var(--footer-bgr-color);    
font-weight: 400;
font-size: 12px;
line-height: 2;
text-align: center;
color: rgba(255, 255, 255, 0.4);
}

.social > .label {
font-weight: 700;
line-height: 1,14;
text-transform: uppercase;
color: var(--font-text-color);
}

.adress{
font-weight: 400;
color: var(--font-text-color);
}
.adress .link{
font-weight: 700;
color: rgba(255, 255, 255, 0.6);
}
